#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Balena Etcher
Exec=PATH_TO_BALENA_ETCHER
Icon=etcher
StartupWMClass=crx_bikioccmkafdpakkkcpdbppfkghcmihk
