#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Balena Etcher
Exec=/home/ddmin/.local/bin/balenaEtcher
Icon=etcher
StartupWMClass=crx_bikioccmkafdpakkkcpdbppfkghcmihk
